---
interface Props {
    name: string;
}

const { name } = Astro.props;
---

<span
    class="bg-overlay text-iris px-3 py-1 rounded text-sm inline-block transform transition-all duration-300 hover:bg-muted hover:text-foam hover:scale-110 hover:shadow-lg hover:shadow-iris/30 hover:-translate-y-1 cursor-default"
>
    {name}
</span>
