---
import UmamiAnalyticsHead from "../../components/UmamiAnalyticsHead.astro";
---

<html>
  <head>
    <meta http-equiv="refresh" content="0;url=https://github.com/gjtiquia/resume/releases/download/v1.1/Resume_GJTiquia.pdf" />
    <title>Download Resume - GJ Tiquia</title>
    <UmamiAnalyticsHead />
  </head>
 <body class="h-dvh flex flex-col justify-center items-center bg-stone-950 text-stone-50">
    <p>Downloading <i>Resume_GJTiquia.pdf</i>...</p>
    <p>Click
      <a 
        href="https://github.com/gjtiquia/resume/releases/download/v1.1/Resume_GJTiquia.pdf"
        class="text-blue-500 underline"
      >here</a>
      if download does not start automatically
    </p>
 </body>
</html>
