---
import Layout from "../layouts/Layout.astro";
import HeaderSection from "../components/HeaderSection.astro";
import FooterSection from "../components/FooterSection.astro";
import AppCard from "../components/apps/AppCard.astro";
---

<Layout title="apps🚀 - GJ Tiquia" description="a list of cool apps🚀">
    <main class="px-4 min-h-dvh flex flex-col items-center">
        <HeaderSection />
        <section class="w-full max-w-2xl">
            <h1 class="text-stone-300 font-bold text-center text-2xl">
                apps🚀
            </h1>
        </section>

        <section class="w-full pt-4 max-w-2xl">
            <ul class="flex flex-col gap-4">
                <AppCard
                    href="https://mini-textarea.netlify.app/"
                    title="mini-textarea"
                    description="a fast, simple <textarea/> that just works"
                />

                <AppCard
                    href="https://ijustwannacopypaste.up.railway.app/"
                    title="IJUSTWANNACOPYPASTE"
                    description="all i wanna do is COPY AND PASTE SOME TEXT FROM ONE COMPUTER TO ANOTHER"
                />

                <AppCard
                    href="https://being-bored.netlify.app/"
                    title="being bored"
                    description="reset your mind through intentional boredom"
                />
            </ul>
        </section>

        <div class="flex-grow"></div>
        <FooterSection />
    </main>
</Layout>
