---
import Layout from "../layouts/Layout.astro";
import HeaderSection from "../components/HeaderSection.astro";
import FooterSection from "../components/FooterSection.astro";
import AppCard from "../components/apps/AppCard.astro";
import ItchioLogo from "../components/Logos/ItchioLogo.astro";
import YoutubeLogo from "../components/Logos/YoutubeLogo.astro";
import InstagramLogo from "../components/Logos/InstagramLogo.astro";

// TODO : game socials should probably be on top, upper right
// TODO : or similar to home page, three icons
// TODO : then put noteworthy itch.io web games here
---

<Layout title="games🎮 - GJ Tiquia" description="a list of fun games🎮">
    <main class="px-4 min-h-dvh flex flex-col items-center">
        <HeaderSection />
        <section class="w-full max-w-2xl pt-4">
            <h1 class="text-text font-mono font-bold text-center text-2xl">
                games🎮
            </h1>
        </section>

        <section class="pt-6 flex flex-col items-center gap-2">
            <p
                class="text-subtle text-center pb-2 text-sm sm:text-base font-mono"
            >
                just a regular guy making games for fun :)
            </p>
            <ul class="flex gap-4">
                <li><ItchioLogo /></li>
                <li><YoutubeLogo /></li>
                <li><InstagramLogo /></li>
            </ul>
            <p class="text-muted pt-1 pb-2 text-center text-sm">
                @gjthegamedev
            </p>
        </section>

        <section class="w-full pt-4 max-w-2xl">
            <ul class="flex flex-col gap-4">
                <AppCard
                    href="https://play.google.com/store/apps/details?id=com.GJTiquia.Snake4D"
                    title="snake 4d"
                    description="snake in 4 spatial dimensions. an android mobile game"
                />
                <AppCard
                    href="https://globalgamejam.org/games/2024/chicken-or-egg-jixiandingdanxian-7"
                    title="chicken or the egg? 雞先定蛋先？"
                    description="a party game developed for the Global Game Jam 2024"
                />
                <AppCard
                    href="https://v3.globalgamejam.org/2023/games/my-little-plantlet-0"
                    title="my little plantlet"
                    description="a desktop game developed for the Global Game Jam 2023"
                />
            </ul>
        </section>

        <div class="flex-grow"></div>
        <FooterSection />
    </main>
</Layout>
