---
import Layout from "../layouts/Layout.astro";
import HeaderSection from "../components/HeaderSection.astro";
import FooterSection from "../components/FooterSection.astro";

// TODO : photography!

// TODO : collapse and expand feature!

// TODO : game socials should probably be on top, upper right
---

<Layout title="Garden - GJ Tiquia">
    <main class="px-4 min-h-dvh flex flex-col items-center">
        <HeaderSection />

        <section class="w-full max-w-2xl">
            <h1 class="text-stone-300 font-bold text-center text-2xl">
                garden
            </h1>
        </section>
        <div class="py-2"></div>

        <section
            class="w-full max-w-lg bg-stone-900 flex flex-col gap-4 rounded-lg p-4"
        >
            <h2 class="text-stone-300 font-bold">games🎮</h2>
            <ul class="flex flex-col gap-4">
                <li class="size-full">
                    <a
                        href="https://play.google.com/store/apps/details?id=com.GJTiquia.Snake4D"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">snake 4d</h3>
                        <p class="text-stone-400 text-justify">
                            snake in 4 spatial dimensions! developed for Android
                        </p>
                    </a>
                </li>
                <li class="size-full">
                    <a
                        href="https://globalgamejam.org/games/2024/chicken-or-egg-jixiandingdanxian-7"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">
                            chicken or the egg? 雞先定蛋先？
                        </h3>
                        <p class="text-stone-400 text-justify">
                            a party game developed for the Global Game Jam 2024
                        </p>
                    </a>
                </li>
                <li class="size-full">
                    <a
                        href="https://v3.globalgamejam.org/2023/games/my-little-plantlet-0"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">
                            my little plantlet
                        </h3>
                        <p class="text-stone-400 text-justify">
                            a party game developed for the Global Game Jam 2023
                        </p>
                    </a>
                </li>
                <li class="size-full">
                    <a
                        href="https://gjthegamedev.itch.io/"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">
                            itch.io - @gjthegamedev
                        </h3>
                        <p class="text-stone-400 text-justify">
                            other fun little games i made! (some playable on
                            web!)
                        </p>
                    </a>
                </li>
                <li class="size-full">
                    <a
                        href="https://www.youtube.com/@gjthegamedev"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">
                            youtube - @gjthegamedev
                        </h3>
                        <p class="text-stone-400 text-justify">
                            dev logs and gameplay videos~
                        </p>
                    </a>
                </li>
                <li class="size-full">
                    <a
                        href="https://www.instagram.com/gjthegamedev/"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">
                            instagram - @gjthegamedev
                        </h3>
                        <p class="text-stone-400 text-justify">
                            stories, reels and random little game dev things!
                        </p>
                    </a>
                </li>
            </ul>
        </section>
        <div class="py-2"></div>

        <section
            class="w-full max-w-lg bg-stone-900 flex flex-col gap-4 rounded-lg p-4"
        >
            <h2 class="text-stone-300 font-bold">apps📱</h2>
            <ul class="flex flex-col gap-4">
                <li class="size-full">
                    <a
                        href="/apps"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">
                            gjtiquia.com/apps
                        </h3>
                        <p class="text-stone-400 text-justify">
                            a collection of apps that i made which i think are
                            kinda cool!
                        </p>
                    </a>
                </li>
            </ul>
        </section>
        <div class="py-2"></div>

        <section
            class="w-full max-w-lg bg-stone-900 flex flex-col gap-4 rounded-lg p-4"
        >
            <h2 class="text-stone-300 font-bold">code👩🏾‍💻</h2>
            <ul class="flex flex-col gap-4">
                <li class="size-full">
                    <a
                        href="https://github.com/gjtiquia"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">
                            github.com/gjtiquia
                        </h3>
                        <p class="text-stone-400 text-justify">
                            repositories of code that i wrote over the years📆
                        </p>
                    </a>
                </li>
            </ul>
        </section>
        <div class="py-2"></div>

        <section
            class="w-full max-w-lg bg-stone-900 flex flex-col gap-4 rounded-lg p-4"
        >
            <h2 class="text-stone-300 font-bold">music🎶</h2>
            <ul class="flex flex-col gap-4">
                <li class="size-full">
                    <a
                        href="https://www.youtube.com/@gjtiquiamusic"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">
                            youtube - @gjtiquiamusic
                        </h3>
                        <p class="text-stone-400 text-justify">
                            my youtube channel for music🎶
                        </p>
                    </a>
                </li>
                <li class="size-full">
                    <a
                        href="https://www.instagram.com/gjtiquiamusic/"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">
                            instagram - @gjtiquiamusic
                        </h3>
                        <p class="text-stone-400 text-justify">
                            my instagram account for music🎶
                        </p>
                    </a>
                </li>
            </ul>
        </section>
        <div class="py-2"></div>

        <section
            class="w-full max-w-lg bg-stone-900 flex flex-col gap-4 rounded-lg p-4"
        >
            <h2 class="text-stone-300 font-bold">writings✏</h2>
            <ul class="flex flex-col gap-4">
                <li class="size-full">
                    <a
                        href="https://blog.gjtiquia.com/"
                        target="_blank"
                        class="size-full bg-stone-800 hover:bg-stone-700 active:bg-stone-600 transition-all flex flex-col gap-2 rounded-lg p-4"
                    >
                        <h3 class="text-stone-300 font-bold">GJ's Blog 📝</h3>
                        <p class="text-stone-400 text-justify">
                            a collection of writings and thoughts in the form of
                            blog posts
                        </p>
                    </a>
                </li>
            </ul>
        </section>
        <div class="py-2"></div>

        <div class="flex-grow"></div>
        <FooterSection />
    </main>
</Layout>
