---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="GJ Tiquia">
	<main>
		<p>hi! im</p>
		<h1>GJ Tiquia</h1><p>👋</p>
		<p>just a regular guy doing things for fun🔥</p>

		<a href="https://twitter.com">linkedin</a>
		<a href="https://twitter.com">github</a>
		<a href="https://twitter.com">twitter</a>
		<a href="https://twitter.com">instagram</a>
		<a href="https://twitter.com">youtube</a>

		<h2>why are you here?</h2>
		<ul>
			<li><a href="/portfolio">portfolio</a></li>
			<li><a href="/garden">garden</a></li>
			<li>
				<a href="/apps">cuz you said u hv something cool to show me?</a>
			</li>
		</ul>
	</main>
</Layout>
