---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="GJ Tiquia">
	<main>
		<p class="text-white">hi! im</p>
		<h1 class="text-white text-3xl">GJ Tiquia</h1><p>👋</p>
		<p class="text-white">just a regular guy doing things for fun🔥</p>

		<a href="https://twitter.com" class="text-white">linkedin</a>
		<a href="https://twitter.com" class="text-white">github</a>
		<a href="https://twitter.com" class="text-white">twitter</a>
		<a href="https://twitter.com" class="text-white">instagram</a>
		<a href="https://twitter.com" class="text-white">youtube</a>

		<h2 class="text-white">why are you here?</h2>
		<ul>
			<li><a href="/portfolio" class="text-white">portfolio</a></li>
			<li><a href="/garden" class="text-white">garden</a></li>
			<li>
				<a href="/apps" class="text-white"
					>cuz you said u hv something cool to show me?</a
				>
			</li>
		</ul>
	</main>
</Layout>
