---
import Card from "../components/Card.astro";
import GitHubLogo from "../components/GitHubLogo.astro";
import LinkedInLogo from "../components/LinkedInLogo.astro";
import TwitterLogo from "../components/TwitterLogo.astro";
import Layout from "../layouts/Layout.astro";

// TODO : github twitter linkedin
// TODO : why are you here? portfolio (can do much much later) / garden / something cool
// TODO : add QR code at the bottom (perhaps a text-based QR code?~) (maybe a QR code at the bottom of each page? first hardcode, later self gen during build?)
// TODO : refactor header section into its own component
---

<Layout title="GJ Tiquia">
	<main class="p-2">
		<section class="flex justify-between">
			<a
				href="/"
				class="text-stone-100 font-bold hover:underline active:underline"
				>GJ Tiquia</a
			>
			<ul class="flex gap-2">
				<!-- <li>
					<a
						href="/garden"
						class="text-stone-400 hover:text-stone-300 hover:underline active:text-stone-200 active:underline"
					>
						Garden
					</a>
				</li> -->
				<li>
					<a
						href="/garden"
						class="text-stone-400 hover:text-stone-300 hover:underline active:text-stone-200 active:underline"
					>
						Garden
					</a>
				</li>
				<li>
					<a
						href="/apps"
						class="text-stone-400 hover:text-stone-300 hover:underline active:text-stone-200 active:underline"
					>
						Apps
					</a>
				</li>
			</ul>
		</section>

		<section class="flex flex-col items-center gap-2 pt-2">
			<div class="w-fit flex flex-col items-center relative pb-2">
				<p class="text-stone-300 absolute left-0">hey there! im</p>
				<h1 class="text-stone-100 text-5xl font-bold pt-7 px-12">
					GJ Tiquia
				</h1>
				<p class="absolute right-0 bottom-0">👋👋</p>
			</div>

			<p class="text-stone-100 pb-2">
				just a regular guy doing things for fun🔥
			</p>

			<ul class="flex gap-4">
				<li><TwitterLogo href="https://x.com/gjtiquia" /></li>
				<li><GitHubLogo href="https://github.com/gjtiquia" /></li>
				<li>
					<LinkedInLogo
						href="https://www.linkedin.com/in/gjtiquia/"
					/>
				</li>
			</ul>
		</section>
	</main>
</Layout>
