---
interface Props {
    href: string;
    title: string;
    description?: string;
}

const { href, title, description } = Astro.props;
---

<li class="size-full group">
    <a
        href={href}
        target="_blank"
        class="size-full border border-surface bg-surface hover:border-iris/30 hover:bg-surface/50 transition-all flex flex-col gap-2 rounded-lg p-4"
    >
        <h3
            class="text-text font-bold group-hover:text-foam transition-colors"
        >
            {title}
        </h3>
        {
            description && (
                <p class="text-subtle group-hover:text-text transition-colors">
                    {description}
                </p>
            )
        }
    </a>
</li>
