---
interface Props {
    href: string;
    title: string;
    description: string;
}

const { href, title, description } = Astro.props;
---

<li class="group">
    <a
        href={href}
        class="size-full border border-surface bg-surface hover:border-iris/30 hover:bg-surface/50 transition-all flex flex-col gap-3 items-center rounded-lg p-4 sm:p-4"
    >
        <h3 class="text-iris font-bold text-xl">
            {title}
        </h3>
        <p
            class="text-center text-sm text-subtle group-hover:text-text transition-colors"
        >
            {description}
        </p>
    </a>
</li>
