---
import GitHubLogo from "../components/GitHubLogo.astro";
import LinkedInLogo from "../components/LinkedInLogo.astro";
import TwitterLogo from "../components/TwitterLogo.astro";
---

<section class="relative pt-4 pb-2 w-full max-w-4xl flex justify-center">
    <a
        href="/"
        class="text-stone-200 font-bold hover:underline active:underline"
        >GJ Tiquia</a
    >
    <ul class="absolute right-2 flex gap-2">
        <li><TwitterLogo /></li>
        <li><GitHubLogo /></li>
        <li><LinkedInLogo /></li>
    </ul>
</section>
