<section class="pt-2 pb-4 px-4 w-full flex justify-between">
    <a
        href="/"
        class="text-stone-100 font-bold hover:underline active:underline"
        >GJ Tiquia</a
    >
    <ul class="flex gap-2">
        <li>
            <a
                href="/garden"
                class="text-stone-400 hover:text-stone-300 hover:underline active:text-stone-200 active:underline transition-all"
            >
                garden
            </a>
        </li>
        <li>
            <a
                href="/apps"
                class="text-stone-400 hover:text-stone-300 hover:underline active:text-stone-200 active:underline transition-all"
            >
                apps
            </a>
        </li>
    </ul>
</section>
