<section
    class="pt-2 sm:pt-6 w-full max-w-4xl flex justify-between items-center"
>
    <a
        href="/"
        class="text-sky-400 font-bold hover:text-sky-300 transition-colors"
    >
        gjtiquia
    </a>
    <nav>
        <ul class="flex gap-4 sm:gap-6">
            <li>
                <a
                    href="/portfolio"
                    class="text-slate-400 hover:text-sky-300 transition-colors"
                >
                    portfolio
                </a>
            </li>
            <li>
                <a
                    href="/garden"
                    class="text-slate-400 hover:text-sky-300 transition-colors"
                >
                    garden
                </a>
            </li>
            <li class="hidden sm:block">
                <a
                    href="/games"
                    class="text-slate-400 hover:text-sky-300 transition-colors"
                >
                    games
                </a>
            </li>
            <li class="hidden sm:block">
                <a
                    href="/apps"
                    class="text-slate-400 hover:text-sky-300 transition-colors"
                >
                    apps
                </a>
            </li>
        </ul>
    </nav>
</section>
