<a href="https://gjthegamedev.itch.io/" target="_blank">
    <svg
        class="size-7 fill-slate-400 hover:fill-slate-300 active:fill-slate-200 transition-all"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        ><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
            d="M71.92 34.77C50.2 47.67 7.4 96.84 7 109.73v21.34c0 27.06 25.29 50.84 48.25 50.84 27.57 0 50.54-22.85 50.54-50 0 27.12 22.18 50 49.76 50s49-22.85 49-50c0 27.12 23.59 50 51.16 50h.5c27.57 0 51.16-22.85 51.16-50 0 27.12 21.47 50 49 50s49.76-22.85 49.76-50c0 27.12 23 50 50.54 50 23 0 48.25-23.78 48.25-50.84v-21.34c-.4-12.9-43.2-62.07-64.92-75C372.56 32.4 325.76 32 256 32S91.14 33.1 71.92 34.77zm132.32 134.39c-22 38.4-77.9 38.71-99.85.25-13.17 23.14-43.17 32.07-56 27.66-3.87 40.15-13.67 237.13 17.73 269.15 80 18.67 302.08 18.12 379.76 0 31.65-32 16.36-228.25 17.75-269.15-12.58 4.34-42.43-4.44-56-27.66-22 38.52-77.85 38.1-99.85-.24-7.1 12.19-23.05 28.1-41.37 27.44-18.16.59-34.11-15.24-41.21-27.44z"
        ></path></svg
    >
</a>
