---
import UmamiAnalyticsHead from "../components/UmamiAnalyticsHead.astro";
import UmamiAnalyticsBody from "../components/UmamiAnalyticsBody.astro";
import QRView from "../components/QRView.astro";

interface Props {
	title: string;
	description: string;
	disableDefaultBackground?: boolean;
}

const { title, description, disableDefaultBackground } = Astro.props;

const isProd = import.meta.env.PROD;

// Check if we should display QR code view
const showQRView = Astro.url.searchParams.get("qr") === "true";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{showQRView ? `QR Code for ${title}` : title}</title>
		<UmamiAnalyticsHead />
	</head>
	<body class={!disableDefaultBackground ? "bg-stone-950" : ""}>
		{showQRView ? <QRView /> : <slot />}
		<UmamiAnalyticsBody />
	</body>
</html>
