---
interface Props {
    title: string;
    description: string;
    href: string;
}

const { title, description, href } = Astro.props;
---

<li class="size-full">
    <a
        href={href}
        target="_blank"
        class="size-full bg-stone-900 hover:bg-stone-800 active:bg-stone-700 transition-all flex flex-col gap-2 rounded-lg p-4"
    >
        <h2 class="text-stone-300 font-bold">{title}</h2>
        <p class="text-stone-400">
            <slot>{description}</slot>
        </p>
    </a>
</li> 