---
interface Props {
    title: string;
    description: string;
    href: string;
}

const { title, description, href } = Astro.props;
---

<li class="size-full group">
    <a
        href={href}
        target="_blank"
        class="size-full border border-surface bg-surface hover:border-iris/30 hover:bg-surface/50 transition-all flex flex-col gap-2 rounded-lg p-4"
    >
        <h2 class="text-iris font-bold">{title}</h2>
        <p class="text-subtle group-hover:text-text transition-colors">
            <slot>{description}</slot>
        </p>
    </a>
</li>
